{{ define "main" }}
<!-- hero -->
{{ partial "hero.html" . }} {{ with .Params.terapias }} {{ if .enable }}

<!-- Terapias menu -->
<div id="terapias" class="mx-auto mt-8 flex w-full max-w-7xl justify-center py-4 px-4">
  <span class="isolate mb-24 inline-flex flex-wrap justify-center gap-2 overflow-x-auto">
    {{ range .therapy }}
    <a href="#{{ .id }}" class="relative inline-flex items-center rounded-3xl bg-beige px-3 py-2 text-xs font-semibold text-primary shadow-sm transition duration-200 hover:bg-beige-dark focus:z-10 md:text-sm">{{ .title }}</a>
    {{ end }}
  </span>
</div>

<!-- Terapias -->
<div class="container mx-auto max-w-7xl px-4">
  {{ range .therapy }}
  <div id="{{ .id }}" class="mx-auto mb-16 max-w-7xl px-2 text-left lg:mb-24 lg:px-8">
    <h2 class="text-left text-3xl font-semibold leading-tight text-mint sm:text-5xl">{{ .title }}</h2>
    <div class="lg:mt-8 lg:gap-12 xl:columns-2">
      <img class="xl:not-prose picture prose w-full py-4 lg:pb-8 xl:ml-auto xl:h-[380px] xl:w-[567px] xl:object-cover" src="{{ .image }}" alt="{{ .title }}" />
      <div class="terapias prose px-6 prose-a:text-[#91d0cc] hover:prose-a:text-[#76c4bf] prose-li:marker:text-beige md:min-h-[550px] lg:px-0 xl:my-12 xl:-mt-[395px] xl:max-w-none [&>p:first-child]:mt-5">
        {{- $markdown := .text | markdownify -}} {{ if not ( findRE "<[h|p][^>]*>" $markdown ) }}
        <p>{{ $markdown }}</p>
        {{ else }} {{ $markdown }} {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }} {{ end }} {{ end }}
