<footer class="mt-8 bg-[#f3e5d5] pt-8 lg:mt-24">
  <div class="mx-auto max-w-7xl pb-8 sm:px-6 lg:px-8">
    <nav class="flex flex-col flex-wrap items-center justify-between gap-4 md:gap-8 min-[1140px]:flex-row" aria-label="Footer">
      {{ $counter := 0 }} {{ range .Site.Menus.main }} {{ $counter = add $counter 2 }}
      <a href="{{ .URL | relLangURL}}" class="order-{{ $counter }} text-sm leading-6 text-primary text-opacity-80 hover:text-opacity-100 md:text-base">{{ .Name }}</a>
      {{ end }}
      <a href="/" class="order-1 px-12 min-[1140px]:order-7">
        <img src="{{ .Site.Params.logo }}" class="mb-4 h-16 w-auto sm:h-24 md:-ml-1 lg:mb-2" alt="{{ .Site.Title }}" />
      </a>
    </nav>
  </div>
  <div class="flex justify-center">
    <div class="mx-8 w-full max-w-7xl border-t border-[#0c1a2b] border-opacity-20"></div>
  </div>
  <div class="mx-auto flex max-w-7xl flex-col justify-between pb-8 sm:px-6 md:flex-row lg:px-8">
    <div><a href="/" class="mt-6 block text-center text-sm leading-5 text-primary text-opacity-80 hover:text-opacity-100 md:mb-0 md:text-base">&copy; {{ dateFormat "2006" now }} {{ .Site.Title }} - Gabinete de Psicologia</a></div>
    <div class="mt-6 flex justify-center gap-8">
      <a href="/politica-privacidad/" class="text-center text-sm leading-5 text-primary text-opacity-80 hover:text-opacity-100 md:mb-0 md:text-base">Política de Privacidad</a>
      <a href="/aviso-legal/" class="text-center text-sm leading-5 text-primary text-opacity-80 hover:text-opacity-100 md:mb-0 md:text-base">Aviso Legal</a>
    </div>
  </div>
</footer>
